{% extends "layout.html" %}

{% block title %}
   Buy stock
{% endblock %}

{% block main %}
    <div class="side-bar">
      <form action="/buy" method="post">
        <label for="ticker">Ticker:</label><br>
        <input type="text" id="ticker" name="ticker"><br>
        <label for="quantity">Quantity:</label><br>
        <input type="number" id="quantity" name="quantity"><br><br>
        <input type="submit" value="Buy">
      </form> 
    </div>
    
 <style>
  .side-bar{
    padding-left: 10px;
    margin-left: 10px;
  }
 </style>
{% endblock %}
