{% extends "layout.html" %}

{% block main %}
<div class="row">
  <div class="col-md-6 col-lg-5 col-xl-4 ml-auto mr-auto">
    <div id="panel-register" class="panel">
      <div class="panel-hdr">
	<h2>Create <span class="fw-300">Account</span></h2>
      </div>
      <div class="panel-container show">
	<div class="panel-content">
	  <form action="/register" method="post">
	    {{ form.csrf_token }}
	    <div class="form-group">
	      <label class="form-label">Full Name</label>
	      <input type="text" name="full_names" class="form-control" placeholder="John Doe" required>
	    </div>
	    <div class="form-group">
	      <label class="form-label">Email Address</label>
	      <input type="email" name="email" class="form-control" placeholder="your@email.com" required>
	    </div>
	    <div class="form-group">
	      <label class="form-label">Username</label>
	      <input type="text" name="username" class="form-control" placeholder="User123" required autocomplete="off">
	    </div>
	    <div class="form-group">
	      <label class="form-label">Password</label>
	      <input type="password" name="password" class="form-control" required>
	    </div>
	    <div class="form-group">
	      <label class="form-label">Confirm Password</label>
	      <input type="password" name="confirm_password" class="form-control" required>
	    </div>

	    <button type="submit" class="btn btn-primary btn-block btn-lg mt-3">Register</button>
	  </form>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
